
.default-avatar {
    background-image: url("static/img/avatars/avatar11.png");
}
html {
            font-family: 'Open Sans', Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
            color: darkslategrey;
            font-size:16px;
        }

.date {font-size:0.702rem !important; /*padding-bottom:0.07rem;*/}

.unread-avatar {
    opacity:0.6 !important;
}

.left-side {
    box-shadow:0 3px 3px rgba(0, 0, 0, 0.3);
    position:relative; z-index:1;
    /*background-color:#F8F8F8*/
}

.header-bg-blue {
/*background: #5b95a9; /* Old browsers */
/*background: -moz-linear-gradient(left,  #5b95a9 0%, #7db3be 50%, #78acb9 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5b95a9), color-stop(50%,#7db3be), color-stop(100%,#78acb9)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(left,  #5b95a9 0%,#7db3be 50%,#78acb9 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(left,  #5b95a9 0%,#7db3be 50%,#78acb9 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(left,  #5b95a9 0%,#7db3be 50%,#78acb9 100%); /* IE10+ */
/*background: linear-gradient(to right,  #5b95a9 0%,#7db3be 50%,#78acb9 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b95a9', endColorstr='#78acb9',GradientType=1 ); /* IE6-9 */
background-color:#3693b5;
} /* Used */

.logo {
    padding-left:10px; padding-top:5px; height:2.2rem;
}

.icon-color-blue {
    /*color:#D26C66!important*/
    /*color: #5F98AC !important;*/
    color:#3693b5;

}

::selection {
    background:none;

}

*::-moz-selection {
    background:none;
}

.flip {
-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
button {
    overflow:inherit !important;
}

.icon--blue {
    color:#00BCE0 !important;
}

.list-row__primary {
    opacity:0.8;
}

.list-row {
    /*padding: 0 0.833rem;*/
}

.contact-image {
position:absolute;
}
.initial-image {

text-align:center;
vertical-align:middle;
font-size:1.728rem;
line-height:2.1rem;
/*color:#9FC4CD;
border: 2px solid #9FC4CD;*/
color:rgba(0, 0, 0, .25);
border: 2px solid rgba(0, 0, 0, .25);
border-radius: 50%;
}

.unread {
    font-weight:700;
}
/* app css stylesheet */
/* From Angular Seed

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

*/

li {
    cursor: pointer;
    cursor: hand;
}

/*.list-row:hover {
    /*    background-color: rgba(125, 179, 190, .20);*/
    /*
    background-color: white;
    /*border-radius: 5px 5px 5px 5px;*/
    /*
    border-radius: 5px 5px 5px 5px;
    border: 1px solid lightgrey;
    margin: -1px;
}*/

/*.list-row.active:hover {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid lightgrey;
    margin: 1px;
}*/

.list-row.active {
    border: 1px solid lightgrey;
    background-color: #E9EEF4;
    /*border-right: 3px solid rgba(125, 179, 190, .70);*/
    /*border: 1px solid rgba(125, 179, 190, .50);
    /*border-right: 3px solid rgba(125, 179, 190, .50);*/
    /*border-left: 3px solid rgba(125, 179, 190, .60);*/

    margin: -1px;
    border-radius: 5px 5px 5px 5px;
    /*border-right: 5px solid rgba(125, 179, 190, .60);
    margin-right: -5px;*/
}

.checkbox__label:after {
    color: lightslategrey;
}

.search-filter__label {
    color: grey;
}

.search-filter__input {
    color: grey;
}

.p\+ {
    padding-top: 10px !important;
}

.list-primary-tile,
.list-row__primary {
    width: 66px;
}

.tc-black-2 {
    color: darkslategrey!important;
}

.mdi-magnify {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.search-filter--light-theme .search-filter__cancel,
.search-filter--light-theme .search-filter__input,
.search-filter--light-theme .search-filter__label {
    color: grey;
}

.contactName {
    border-left:1px solid lightgrey; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color: grey !important
}

.fs-title {
    /*color: rgba(0, 0, 0, .54)!important*/

    font-weight: 400;
}

.fs-subject-1 {
    font-size:0.889rem !important;
}

.tc-light-blue-200 {
    color: rgba(0, 0, 0, 0.7)!important;
}

.tc-blue-middle {
    color: #68A0B0 !important;
}

.tc-blue-right {
    color: #7fb3c0 !important;
}

.valign {
    align-items: center !important;
}

.halign {
    justify-content: center !important;
}

.dialog-filter {
    background-color: rgba(96, 96, 96, .6);
}

textarea {
    height: auto;
    width: 100%;
}

.fs-body-1 {
/*font-size: 0.833rem !important;*/
color:black;
font-size:0.9rem !important;
/*line-height:1.2rem !important;*/

}

.fs-title-1 {
font-size: 1rem;
    /*color: #5F98AC !important;*/
    text-transform:capitalize;
    letter-spacing: 0.02rem;
    /*line-height:normal !important;*/


}

html {
line-height:1.44rem;
/*overflow: hidden;*/mouse
}

.fs-toolbar-title {
line-height:30px;
color:slategrey !important;
font-size:1rem;
overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
}

.left-border {
    border-left:1px solid lightgrey;
}

.toolbar {
height:initial;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 0px 0 rgba(0, 0, 0, 0.0);

}

.btn--icon.btn--s {
font-size: 1.44rem !important;
}

.icon--l.icon--circled {
width: 2.488rem !important;
height: 2.488rem !important;
line-height:1.724rem !important;
font-size:2.074rem !important;
}

.icon--m.icon--circled {
width: 2.074rem !important;
height: 2.074rem !important;
line-height:2rem !important;
font-size:1.728rem !important;
}

@media screen and (max-width: 1366px) and (min-width:1024px) {
[flex-container=row]>[flex-item="3"] {
flex: 0 0 33.333%;
max-width:33.333%;
}
html {
    font-size:16px;
}
}

@media screen and (min-width: 1024px) {
.hiddenDesktop {
    display:none;
}
}

@media screen and (max-width: 1023px) {
.hiddenMobile{
display:none;
}
}

.img-round-l {
    width:2.986rem;
    height:2.986rem;

}

.img-round-m {
    width:2.488rem;
    height:2.488rem;

}

.img-round-s {
    width:1.728rem;
    height:1.728rem;

}

.list-primary-tile, .list-row__primary {
    width:3.488rem;
}

.display-block {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Animations

.my-repeat-animation.ng-enter,
.my-repeat-animation.ng-leave,
.my-repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.my-repeat-animation.ng-enter {
  left:-10px;
  opacity:0;
}
.my-repeat-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

/*.my-repeat-animation.ng-leave {
  left:0;
  opacity:1;
}
.my-repeat-animation.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.my-repeat-animation.ng-move {
  opacity:0.5;
}
.my-repeat-animation.ng-move.ng-move-active {
  opacity:1;
}
*/

.preloader {
 position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #FFFFFF url('img/FlatPreloaders/128x128/Preloader_3/Preloader_3.gif') no-repeat center center; }
