

<div ng-hide="page.dataLoaded" class="preloader">
    <!-- image here via CSS -->
</div>

<div class="toolbar" style="/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b95a9+0,7db3be+50,78acb9+100 */
background: #5b95a9; /* Old browsers */
background: -moz-linear-gradient(left,  #5b95a9 0%, #7db3be 50%, #78acb9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5b95a9), color-stop(50%,#7db3be), color-stop(100%,#78acb9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #5b95a9 0%,#7db3be 50%,#78acb9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #5b95a9 0%,#7db3be 50%,#78acb9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #5b95a9 0%,#7db3be 50%,#78acb9 100%); /* IE10+ */
background: linear-gradient(to right,  #5b95a9 0%,#7db3be 50%,#78acb9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b95a9', endColorstr='#78acb9',GradientType=1 ); /* IE6-9 */
">


    <i class="icon icon--l icon--purple tc-orange-500 icon--flat mdi mdi-weather-sunny"></i>
    <span class="toolbar__label fs-headline tc-grey-100  ml" style="font-weight:500; "> Emailody</span>

</div>
</div>
<div class="divider divider--dark"></div>


<div class="" flex-container="row">


    <div flex-item="3" flex-item-order="1" style="box-shadow:0 3px 3px rgba(0, 0, 0, 0.3); position:relative; z-index:1; background-color:#F8F8F8" ng-class="leftWrapper">
        


            <!--<div class="pl+ pr+ pb+ card stretch" style="background-color:#F8F8F8; position:relative; z-index:1;">-->
                <div class="toolbar bgc-grey-100" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 0px 0 rgba(0, 0, 0, 0.0)">



                    <button class="btn btn--s btn--blue btn--icon mr+ ml" lx-ripple>
                        <i class="icon icon--s icon--grey tc-light-blue-200 icon--flat mdi mdi-folder"></i>
                    </button>



                    <button class="btn btn--s btn--blue btn--icon mr" lx-ripple>
                        <i class="icon icon--s icon--grey tc-light-blue-200 icon--flat mdi mdi-pen" ng-click="changeRight('writeMail');"></i>
                    </button>
                    <button class="btn btn--s btn--blue btn--icon mr " lx-ripple>
                        <i class="icon icon--s icon--grey tc-light-blue-200 icon--flat mdi mdi-magnify"></i>
                    </button>


                </div>
                <!--<div ng-scrollbars ng-scrollbars-config="ngScrollbarsConfig" class="container pr+ pl" style="height:{{stretch()}}">-->
                <div id="contacts" class="pr+ pl pt " style="height:{{scrollbarHeight}}; overflow:auto">
                <ul class="list">
                    <li ng-repeat="contact in contacts" class="list-row list-row--multi-line list-row--has-separator" lx-ripple="grey-400" ng-click="getMessages(contact.id, 0, contact.name, contact.address); ">
                        <div class="list-row__primary">
                            <img gravatar-src="contact.address;" class="img-round img-round-l">
                            <!--<i class="icon icon--l icon--grey bgc-grey-400 icon--circled mdi mdi-account" ng-hide="contact.gravatarHash" style="width:48px; height:48px; font-size:32px; padding-top:5px; color:#F8F8F8"></i>
-->
                        </div>

                        <div class="list-row__content">
                            <span class="display-block fs-title-1">{{contact.name}}</span>
                            <span class="display-block fs-body-1 tc-black-2">{{contact.snippet}} </span>
                            <span class="display-block tc-light-blue-200 fs-body-1" style="line-height:1.2rem; font-size:0.694rem !important">{{contact.date}}</span>
                        </div>

                        <!--<div class="list-row__secondary">
                            <i class="icon icon--xs icon--grey icon--flat mdi mdi-information"></i>
                        </div>-->
                    </li>

                </ul>
                
                <div class="p++ white" style="text-align:center;">

                    <div class="divider divider--dark"></div>

                    <button class="btn btn--m btn--grey tc-light-blue-200 btn--flat m++" lx-ripple>More <i class="mdi mdi-chevron-double-down"></i>
                    </button>

                </div>

            </div >
        </div>

    <div class="scroll-wrapper" flex-item="" flex-item-order="2" ng-class="rightWrapper">
		<div ng-switch="rightShow">
            <div ng-switch-when="listMails">
                <div class="toolbar" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 0px 0 rgba(0, 0, 0, 0.0);">
                    <span class="fs-toolbar-title tc-light-blue-200 pr+ pl+" ng-hide="currentContact.name">Choose a contact to the left</span>
					<button class="btn btn--s btn--blue btn--icon ml+ mr+ hiddenDesktop" lx-ripple ng-show="currentContact.name" ng-click="mobileBack()">
                        <i class="icon icon--s icon--grey tc-blue-right icon--flat mdi mdi-backburger"></i>
                    </button>
                    
                    <span class="fs-toolbar-title tc-light-blue-200 pr+ pl+" style="border-right:1px solid #68A0B0; overflow:hidden; white-space:nowrap; text-overflow:ellipsis" ng-show="currentContact.name">{{currentContact.name}}</span>
                    <button class="btn btn--s btn--blue btn--icon ml+ mr+" lx-ripple ng-show="currentContact.name">
                        <i class="icon icon--s icon--grey tc-blue-right icon--flat mdi mdi-attachment"></i>
                    </button>

                    <button class="btn btn--s btn--blue btn--icon mr+" lx-ripple ng-show="currentContact.name">
                        <i class="icon icon--s icon--grey tc-blue-right icon--flat mdi mdi-pen"></i>
                    </button>
                    <button class="btn btn--s btn--blue btn--icon mr+" lx-ripple ng-show="currentContact.name">

                        <i class="icon icon--s icon--grey tc-blue-right icon--flat mdi mdi-delete mr+"></i>
                    </button>
                    <div style="clear:both"></div>


                </div>

		        <!--<div ng-scrollbars ng-scrollbars-config="ngScrollbarsConfig" class="container pr+ pl pt mb mt" style="height:{{stretch()}}">-->
                <div class="pr+ pl pt" style="height:{{scrollbarHeight}}; overflow:auto">
                <ul class="list">
                    <li ng-repeat="message in messages" class="list-row list-row--multi-line list-row--has-separator my-repeat-animation" lx-ripple="grey-400">
                        <div ng-hide="message.sent" class="list-row__primary" ng-click="currentMessage.subject=message.subject; currentMessage.date=message.date; currentMessage.sent=message.sent; changeRight('readMail');">

                            <img gravatar-src="currentContact.address" class="img-round img-round-m">
                            

                        </div>

                        <div ng-show="message.sent" class="list-row__primary" ng-click="getMessage(message.messageId); currentMessage.subject=message.subject;  currentMessage.date=message.date;  currentMessage.sent=message.sent; changeRight('readMail'); ">


                            <i class="icon icon--m icon--grey bgc-grey-300 icon--circled mdi mdi-send"></i>

                        </div>

                        <div class="list-row__content" ng-click="getMessage(message.messageId); currentMessage.subject=message.subject; currentMessage.date=message.date;  currentMessage.sent=message.sent; changeRight('readMail'); ">
                            <span class="display-block" style="font-size:0.833rem">{{message.subject}} <span class="tc-light-blue-200" style="font-size:0.694rem"> 9:52 PM.</span> </span>
                            <span class="display-block fs-body-1 tc-black-2">{{message.snippet}}</span>

                        </div>

                        <div class="list-row__secondary">
                            <div class="checkbox checkbox--standalone">
                                <input type="checkbox" id="checkbox1" class="checkbox__input">
                                <label for="checkbox1" class="checkbox__label tc-grey-500"></label>
                            </div>
                        </div>
                    </li>

                </ul>
                <div class="p++ white" style="text-align:center;">

                    <div class="divider divider--dark"></div>

                    <button class="btn btn--m btn--grey tc-light-blue-200 btn--flat m++" lx-ripple ng-click="chats2=chats; chats.concat(chats2)">More <i class="mdi mdi-chevron-double-down"></i>
                    </button>


        </div></div></div>
        <div ng-switch-when="readMail">
                    <div class="toolbar" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 0px 0 rgba(0, 0, 0, 0.0);">
					
					<button class="btn btn--s btn--blue btn--icon ml+ mr+" lx-ripple ng-show="currentContact.name" ng-click="changeRight('listMails')">
                        <i class="icon icon--s icon--grey tc-blue-right icon--flat mdi mdi-backburger"></i>
                    </button>
                    <span class="fs-toolbar-title tc-light-blue-200 pr+" style="border-right:1px solid #68A0B0; overflow:hidden; white-space:nowrap; text-overflow:ellipsis" ng-show="currentContact.name">{{currentContact.name}}: {{currentMessage.subject}}</span>
					
                    <button class="btn btn--s btn--blue btn--icon ml+ mr+" lx-ripple ng-show="currentContact.name">
                        <i class="icon icon--s icon--grey tc-blue-right icon--flat mdi mdi-reply"></i>
                    </button>

                    <button class="btn btn--s btn--blue btn--icon mr+" lx-ripple ng-show="currentContact.name">
                        <i class="icon icon--s icon--grey tc-blue-right icon--flat mdi mdi-reply-all"></i>
                    </button>
                    
                    <button class="btn btn--s btn--blue btn--icon mr+" lx-ripple ng-show="currentContact.name">

                        <i class="icon icon--s icon--grey tc-blue-right icon--flat mdi mdi-forward mr+"></i>
                    </button>
                    <button class="btn btn--s btn--blue btn--icon mr+" lx-ripple ng-show="currentContact.name">

                        <i class="icon icon--s icon--grey tc-blue-right icon--flat mdi mdi-pen mr+"></i>
                    </button>
                    <button class="btn btn--s btn--blue btn--icon mr+" lx-ripple ng-show="currentContact.name">

                        <i class="icon icon--s icon--grey tc-blue-right icon--flat mdi mdi-delete mr+"></i>
                    </button>



                </div>
		<div class="pr+++ pl+++ pt+++ pb+++ iframe-holder" style="height:{{scrollbarHeight}}; overflow:auto">

                    <!--<div ng-bind-html="emailbody"></div>-->
            <iframe src="{{emailbody}}" style="width:100%; height:100%; border:0"></iframe>

</div>
                    
            </div>
            <div ng-switch-when="writeMail">
                    <div class="toolbar  pl++" style="background-color:rgb(248, 248, 248)">

                        <span class="toolbar__label tc-light-blue-200 valign ">
                            
                </span>
                        <div class="toolbar__right">
                            
                        </div>

                

                    <div class="divider divider--dark"></div>


                </div>
                    <form>
                        <lx-text-field class="mr++" label="Contact " fixed-label="true" icon="account">
                            <input type="text " ng-model="write.contact">
                        </lx-text-field>

                        <lx-text-field class="mr++" label="Subject " fixed-label="true" icon="exclamation">
                            <input type="text" ng-model="write.subject">
                        </lx-text-field>
                        <br>
                        <textarea rows="16" type="text " ng-model="write.subject" style="padding:20px;"></textarea>



                    </form>
                    <button class="btn btn--l btn--blue tc-light-blue-200 btn--flat">Send <i class="mdi tc-light-blue-200 mdi-send"></i>
                    </button>
                
            </div>

    </div>


    <!-- Dialog -->




    
