<div ng-hide="page.dataLoaded" class="preloader">
    <!-- image here via CSS -->
</div>
<div class="toolbar header-bg-blue">
    <img ng-src="static/img/logos/logo.png" class="logo"></img>
</div>
<div class="divider divider--dark"></div>
<div class="" flex-container="row">
    <div flex-item="3" flex-item-order="1" class="left-side" ng-class="leftWrapper">
        <div class="toolbar bgc-grey-100">
            <button class="btn btn--s btn--grey btn--icon mr ml" lx-ripple>
                <i class="icon icon--s icon--flat mdi mdi-folder icon-color-blue"></i>
            </button>
            <button class="btn btn--s btn--grey btn--icon mr ml" lx-ripple>
                <i class="icon icon--s icon--flat mdi mdi-pen icon-color-blue" ng-click="changeRight('writeMail');"></i>
            </button>
            <button class="btn btn--s btn--grey btn--icon " lx-ripple>
                <i class="icon icon--s icon--flat mdi mdi-magnify icon-color-blue"></i>
            </button>
        </div>
        <div id="contacts" class="pt ml pr" style="height:{{scrollbarHeightLeft}}; max-height:{{scrollbarHeightLeft}}; overflow:auto">
            <ul class="list">
                <li ng-repeat="contact in contacts" class="list-row list-row--multi-line list-row--has-separator" lx-ripple="grey-400" ng-click="getMessages(contact.id, 0, contact.name, contact.address, contact.initial); ">
                    <div class="list-row__primary">
                        <img src="https://logo.clearbit.com/hotmail.com" onerror='this.gravatar-src="contact.address;"' class="contact-image img-round img-round-m gravatar-image">
                    </div>
                    <div class="list-row__content">
                        <span class="display-block fs-title-1" ng-class="{ 'unread': contact.unread }">{{contact.name}}</span>
                        <span class="display-block fs-body-1  tc-black-2 date">{{contact.date}}</span>
                        <span class="display-block fs-body-1  tc-black-2">{{contact.snippet}} </span>
                    </div>
                    <div class="list-row__secondary">
                        <i class="icon icon--s icon--grey icon--flat mdi mdi-star-outline"></i>
                    </div>
                </li>
            </ul>
            <div class="p++ white" style="text-align:center;">
                <div class="divider divider--dark"></div>
                <button class="btn btn--m btn--grey tc-light-blue-200 btn--flat" ng-click="getContacts(pages.contactsPage);" lx-ripple>More
                    <i class="mdi mdi-chevron-double-down"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="scroll-wrapper" flex-item="" flex-item-order="2" ng-class="rightWrapper">
        <div ng-switch="rightShow">
            <div ng-switch-when="listMails">
                <div class="toolbar">
                    <span class="fs-toolbar-title tc-light-blue-200 pr+ pl" ng-hide="currentContact.name">Choose a contact to the left</span>
                    <button class="btn btn--s btn--grey btn--icon ml hiddenDesktop" lx-ripple ng-show="currentContact.name" ng-click="mobileBack()">
                        <i class="icon icon--s icon--flat mdi mdi-backburger icon-color-blue"></i>
                    </button>
                    <button class="btn btn--s btn--grey btn--icon mr ml" lx-ripple ng-show="currentContact.name">
                        <i class="icon icon--s icon--flat mdi mdi-magnify icon-color-blue"></i>
                    </button>
                    <button class="btn btn--s btn--grey btn--icon mr" lx-ripple ng-show="currentContact.name">
                        <i class="icon icon--s icon--flat mdi mdi-pen icon-color-blue"></i>
                    </button>
                    <button class="btn btn--s btn--grey btn--icon mr" lx-ripple ng-show="currentContact.name">
                        <i class="icon icon--s icon--flat mdi mdi-folder-move mr+ icon-color-blue"></i>
                    </button>
                    <button class="btn btn--s btn--grey btn--icon mr" lx-ripple ng-show="currentContact.name">
                        <i class="icon icon--s  icon--flat mdi mdi-delete mr+ icon-color-blue"></i>
                    </button>
                    <span class="fs-toolbar-title tc-light-blue-200 pl+ left-border" ng-show="currentContact.name">{{currentContact.name}}</span>
                </div>
                <div class="pr+ pl+ pt" style="height:{{scrollbarHeightRight}}; max-height:{{scrollbarHeightRight}}; overflow:auto">
                    <ul class="list">
                        <li ng-repeat="message in messages" class="list-row list-row--multi-line list-row--has-separator my-repeat-animation" lx-ripple="grey-400">
                            <div class="list-row__content" ng-click="getMessage(message.messageId); currentMessage.subject=message.subject; currentMessage.date=message.date;  currentMessage.sent=message.sent; changeRight('readMail'); ">
                                <span class="display-block fs-title-1 fs-subject-1" ng-class="{ 'unread': message.unread }">{{message.subject}} </span>
                                <span class="display-block fs-body-1 tc-black-2">{{message.snippet}}</span>
                                <span class="fs-body-1 tc-light-blue-200"> {{message.date}}</span>
                            </div>
                            <div class="list-row__secondary">
                                <div class="checkbox checkbox--standalone">
                                    <input type="checkbox" id="checkbox{{$index}}" class="checkbox__input">
                                    <label for="checkbox{{$index}}" class="checkbox__label tc-grey-500"></label>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="p++ white" style="text-align:center;">
                        <div class="divider divider--dark"></div>
                        <button class="btn btn--m btn--grey tc-light-blue-200 btn--flat" lx-ripple ng-click="chats2=chats; chats.concat(chats2)">More <i class="mdi mdi-chevron-double-down"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div ng-switch-when="readMail">
                <div class="toolbar">
                    <button class="btn btn--s btn--grey btn--icon ml mr" lx-ripple ng-show="currentContact.name" ng-click="changeRight('listMails')">
                        <i class="icon icon--s icon--flat mdi mdi-backburger icon-color-blue"></i>
                    </button>
                    <button class="btn btn--s btn--icon mr" lx-ripple ng-show="currentContact.name">
                        <i class="icon icon--s  icon--flat mdi mdi-reply-all icon-color-blue"></i>
                    </button>
                    <button class="btn btn--s btn--grey btn--icon mr" lx-ripple ng-show="currentContact.name">
                        <i class="icon icon--s icon--flat mdi mdi-reply icon-color-blue"></i>
                    </button>
                    <button class="btn btn--s btn--grey btn--icon mr" lx-ripple ng-show="currentContact.name">
                        <i class="icon icon--s flip icon--flat mdi mdi-reply icon-color-blue"></i>
                    </button>
                    <button class="btn btn--s btn--grey btn--icon mr" lx-ripple ng-show="currentContact.name">
                        <i class="icon icon--s  icon--flat mdi mdi-folder-move mr+ icon-color-blue"></i>
                    </button>
                    <button class="btn btn--s btn--grey btn--icon mr" lx-ripple ng-show="currentContact.name">
                        <i class="icon icon--s  icon--flat mdi mdi-delete mr+ icon-color-blue"></i>
                    </button>
                    <button class="btn btn--s btn--grey btn--icon mr" lx-ripple ng-show="currentContact.name">
                        <i class="icon icon--s  icon--flat mdi mdi-information mr+ icon-color-blue"></i>
                    </button>
                    <span class="fs-toolbar-title tc-light-blue-200 pl+ hiddenMobile left-border" ng-show="currentContact.name">{{currentMessage.subject}}</span>
                </div>
                <div class="pr+ pl pt" style="height:{{scrollbarHeightLeft}}; max-height:{{scrollbarHeightLeft}}; overflow:auto;">
                    <div ng-bind-html="emailbody" class="pt+ pl+ pr+"></div>
                </div>
                <div ng-switch-when="writeMail">
                    <!-- Insert code here -->
                </div>
            </div>
        </div>
    </div>
</div>