<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js" style="background-color:white; overflow:hidden">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TinyChatmail</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="static/bower_components/html5-boilerplate/dist/css/main.css">
    <!-- From Lumx -->
    <link rel="stylesheet" href="static/bower_components/lumx/dist/lumx.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/app.css">
    <script src="static/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="static/bower_components/jquery/dist/jquery.js"></script>
    
    <style>
        html {
            font-family: 'Montserrat', Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;

            color: rgba(0, 0, 0, .77);
            font-size:16px;
        }


    </style>
</head>

<body>


    <div ng-view></div>
    <script src="static/bower_components/velocity/velocity.js"></script>
    <script src="static/bower_components/moment/min/moment-with-locales.js"></script>
    <script src="static/bower_components/angular/angular.js"></script>
    <script src="static/bower_components/lumx/dist/lumx.js"></script>
 
    <!-- From Angular Seed: In production use: 
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->


    <script src="static/bower_components/angular-route/angular-route.js"></script>
    <script src="static/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="static/bower_components/angular-gravatar/build/angular-gravatar.js"></script>
    <script src="static/bower_components/angular-base64/angular-base64.js"></script>
    <script src="static/app.js"></script>
    <script src="static/view1/view1.js"></script>
    <script src="static/view2/view2.js"></script>
    <script src="static/components/version/version.js"></script>
    <script src="static/components/version/version-directive.js"></script>
    <script src="static/components/version/interpolate-filter.js"></script>
</body>
</html>
